[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "prior3D"]
	path = prior3D
	url = https://github.com/cadam00/prior3d
[submodule "priorCON"]
	path = priorCON
	url = https://github.com/cadam00/priorcon
