[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "corbouli"]
	path = corbouli
	url = https://github.com/cadam00/corbouli
[submodule "lightAUC"]
	path = lightAUC
	url = https://github.com/cadam00/lightauc
[submodule "poobly"]
	path = poobly
	url = https://github.com/cadam00/poobly
[submodule "prior3D"]
	path = prior3D
	url = https://github.com/cadam00/prior3d
[submodule "priorCON"]
	path = priorCON
	url = https://github.com/cadam00/priorcon
[submodule "scoredec"]
	path = scoredec
	url = https://github.com/cadam00/scoredec
